body{
    background-color: rgb(24, 24, 24);
    font-size: 62.5%;
}
  
button{
  background-color: black;
  color: white;
  border: solid 1px white;
  border-radius: 19px;
  padding: 10px 40px;
  font-family: Calibri;
  font-weight: 600;
  letter-spacing: 1.2px;
  transition: 0.5s;
}

h1{
  color:white;
  font-size: 3.2rem;
  text-align: center;
  font-family: 'Montserrat';
  letter-spacing: 10px;
}

h2{
    color: white;
    font-size: 2rem;
    font-family: 'Montserrat';
    letter-spacing: 0px;
    line-height: 30%;
    padding-top: 5px;
}

p{
    color: white;
    font-size: 1rem;
    /* line-height: 0%; */
    font-family: 'Roboto';
    font-weight: 300;
}
  
button:hover{
    cursor: pointer;
    background-color: rgb(235,67,52);
    transition: 0.5s;
}
  
button:active{
    background-color: rgb(50,50,50);
    transition: 0s;
}
  
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px white;
    border-radius: 25px;
    padding: 5px;
    background-color: black;   
}

.buttonContainer{
    display: flex;
    gap: 5px;
}
  
::selection{
    background-color: yellow;
}

/* hero section layout divs */
.backgroundDiv{
  padding:10px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.titleBox{
  background-image: url("https://media.istockphoto.com/id/1267068206/video/storm-clouds-time-lapse.jpg?s=640x640&k=20&c=c7kFYk0SIgZMPDaW1O7zAEvS8p24PXjg8NsYJbPGLbE=");
  height: 30vh;
  width: 100%;
  border-radius: 30px;
  background-size:cover;
  background-position: 0-20px center;
  filter:brightness(70%);
  border : solid white 1px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.incomeBox{
    display: flex;
    flex-direction: column;
    gap: 5px;
  background-color:rgba(49, 55, 103, 1);
  height : 40vh;
  width: 100%;
  border-radius: 20px;
  border: solid white 0.25px;
}

.expenseBox{
    display: flex;
    flex-direction: column;
    gap: 1px;
  background-color: rgba(77,62,55,255);
  height : 40vh;
  width: 100%;
  border-radius: 20px;
  border: solid white 0.25px;
}

.expenseBox h2, .incomeBox h2{
    padding: 0 20px;
}

.expenseBox p, .incomeBox p{
    padding: 0 20px;
    width: 80%;
}

.expenseBox button, .incomeBox button{
    margin-left: 20px;
    margin-top: 20px;
    width: 30%;
}

.receiptBox{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(93,93,93,255);
    height : 10vh;
    width: 100%;
    border-radius: 20px;
    border: solid white 0.25px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.receiptBox h2{
    padding: 0 0 0 20px;
}

.receiptBox button{
    margin-right: 20px;
}



