body{
    background-color: rgb(50,50,50);
    font-size: 62.5%;
}
  
button{
  background-color: black;
  color: white;
  border: solid 1px white;
  border-radius: 19px;
  padding: 10px 40px;
  font-family: Calibri;
  font-weight: 600;
  letter-spacing: 1.2px;
  transition: 0.5s;
}
h1{
  color:black;
  font-size: 3.2rem;
  text-align: center;
  margin-top:10vh;
  

}
  
button:hover{
    cursor: pointer;
    background-color: rgb(235,67,52);
    transition: 0.5s;
}
  
button:active{
    background-color: rgb(50,50,50);
    transition: 0s;
}
  
header{
    border: solid 1px white;
    border-radius: 25px;
    padding: 5px;
    background-color: black;
    
}
  
::selection{
    background-color: yellow;
}
.backgroundDiv{
  padding:10px 0px;
}

.titleBox{
  background-image: url("https://media.istockphoto.com/id/841278554/photo/beautiful-morning-light-in-public-park-with-green-grass-field.jpg?s=2048x2048&w=is&k=20&c=uTnvpSjuE2ZYdqL6ERPsJ0WEcoCQqDLQJ7imKJ71134=");
  height: 30vh;
  width: 100%;
  border-radius: 30px;
  background-size:cover;
  background-position: 0-20px center;
  filter:brightness(60%);
  border : solid white 1px;

}
.incomeBox{
  background-color:rgba(68, 33, 156, 0.74);
  height : 40vh;
  width: 100%;
  border-radius: 30px;
  border:solid white 1px;


}
.expenseBox{
  background-color:rgba(117,94,89);
  height : 40vh;
  width: 100%;
  border-radius: 30px;
  border:solid white 1px;
}



