body{
    background-color: rgb(50,50,50);
}
  
button{
  background-color: black;
  color: white;
  border: solid 1px white;
  border-radius: 19px;
  padding: 10px 40px;
  font-family: Calibri;
  font-weight: 600;
  letter-spacing: 1.2px;
  transition: 0.5s;
}
  
button:hover{
    cursor: pointer;
    background-color: rgb(235,67,52);
    transition: 0.5s;
}
  
button:active{
    background-color: rgb(50,50,50);
    transition: 0s;
}
  
header{
    border: solid 1px white;
    border-radius: 25px;
    padding: 5px;
    background-color: black;
}
  
::selection{
    background-color: yellow;
}