
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

form label {
    margin-right: 10px;
    color: white;
}

form input {
    margin-right: 20px;
    color: rgb(0, 0, 0);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid rgb(255, 255, 255);
}

th, td {
    padding: 10px;
    text-align: left;
    color: white;
}

thead {
    background-color: #000000;
}
